.hot-question-card{
  border: 1px solid black;
  border-radius: 1rem;
  padding: 8px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  width: 90%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 16px 39px 5px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000, 0px 16px 39px 5px rgba(0,0,0,0);
  cursor:pointer;
}
