.exp-btn {
  display: flex;
  margin-top: 10%;
  cursor: pointer;
  all: unset;
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 600;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  text-transform: none;
  padding-left: 25px;
  text-decoration: none;
  padding-right: 25px;
  border-radius: 30px;
  background-color: green;
  text-align: center;
}

.exp-btn:link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.exp-btn:hover {
  color: white;
  cursor: pointer;
}
.login-input{
  border: none;
  border-bottom: 2px solid black;
}
.login-input:focus{
  border: none;
  outline: none;
  border-bottom: 2px solid green;

}
